.blog-article {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--ss-theme-300);
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.blog-image {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(.8);
    transition: transform .3sec ease;
}

.blog-image:hover {
    transform: scale(1.1);
}

.blog-header {
    overflow: hidden;
    position:relative;
}

.blog-date {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: var(--ss-title-font);
    font-weight: bolder;
    color: rgba(255,255,255, 0.7);
    line-height: 3.5rem;
}

.blog-month {
    font-size: 3rem;
}
.blog-day {
    font-size: 6rem;
}

.blog-article:nth-child(odd)>.blog-row {
    flex-direction: row-reverse;
}