/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    /* fonts */
    --ss-title-font: 'Bebas Neue', sans-serif;
    --ss-subtitle-font: 'Fira Sans', sans-serif;
    --ss-heading-font: 'Bebas Neue', sans-serif;
    --ss-body-font: 'Roboto', sans-serif;

    /* basic colors */
    --ss-dark-color: #212121;
    --ss-light-color: #deeefb;
    --ss-background-color: rgba(250, 250, 250, 0.8);

    /*text styles */
    --ss-font-size: 1.2rem;
    --ss-font-weight: 400;
    --ss-line-height: 1.5rem;
    --ss-title-color: var(--ss-dark-color);




 

}


/*element overrides*/
body {
    font-family: var(--ss-body-font);
    font-size: var(--ss-font-size);
    font-weight: var(--ss-font-weight);
    line-height: var(--ss-line-weight);
    color: var(--ss-dark-color);
    background: var(--ss-background-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ss-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ss-title-color);
    letter-spacing: .1rem;
}

a {
    color: var(--ss-theme-500);
}

a:hover {
    color: var(--ss-theme-accent);
}

main {
    margin-bottom: 5rem;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    --bs-btn-bg: var(--ss-theme-600);
    --bs-btn-border-color: var(--ss-theme-600);
    --bs-btn-hover-bg: var(--ss-theme-accent);
    --bs-btn-hover-border-color: var(--ss-theme-accent);

}



/*end element overrides*/

/*landing section */
#home {
    background-color: var(--ss-theme-900);
    background-image: url(/img/pexels-paul-blenkhorn-sensoryarthouse-12463825.jpg);
    /*should figure out if I need to do something here*/
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#homeCover {
    backdrop-filter: brightness(0.35) blur(3px);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainLogo {
    height: .8em;
    /*em is relative to the parent*/
    padding-left: 0px;
}

.mainTitle,
.subTitle {
    color: var(--ss-light-color);
    text-transform: uppercase;
}

.mainTitle {
    font-family: var(--ss-title-font);
    font-size: 5rem;
    /*rem is relative to the document*/
    line-height: 4rem;
}

.subTitle {
    font-family: var(--ss-subtitle-font);
    font-size: 1.28rem;
    line-height: 1.1rem;
    letter-spacing: .1rem;
    font-weight: 300;
}

/* end landing section */

/*main content*/

.section-page {
    padding-top: 5rem;
    padding-bottom: 8rem;
    position: relative;
    overflow: visible;
    margin-top: -3rem;
}

.section-page:nth-child(even),
.section-page:nth-child(even)>.container::after {
    background-color: var(--ss-theme-100);
}

.section-page:nth-child(odd),
.section-page:nth-child(odd)>.container::after {
    background-color: var(--ss-theme-150);
}

/* section dividers rounded 
.section-page>.container::after{
    have to put this or it won't show up on page 
    content: ""; 
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    clip-path: ellipse(50% 100% at top center);
    z-index: 1;
}*/

/* section dividers slanted */


.section-page>.container::after{
    content: ""; 
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    z-index: 1;
}

.section-page:nth-child(even)>.container::after {
    clip-path: polygon(0% 0%, 100% 0% , 0% 100%);
}

.section-page:nth-child(odd)>.container::after {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

/*end main content*/

/* class style takes presedence over element style*/
.socialIcons {
    font-size: 2rem;
    transition: color 0.25s;
}

.socialIcons:hover {
    color: var(--ss-theme-accent);
}

.infoContainer {
    background-color: var(--ss-theme-300);
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--ss-theme-900);
}

footer .card

/*having the space looks inside the element*/
    {
    background-color: var(--ss-theme-800);
}

#homeAttr {
    position: absolute;
    top: 90vh;
    right: 0;
}


/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mainTitle {
        font-size: 7rem;
        line-height: 5.5rem;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: 0.18rem;
        padding-top: .25rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}